<div class="toolbar" role="banner">
  <h2 class="title">The "CRUD" Site</h2>
</div>
<br><br><br>
<div class="links">
  <a href="/users/home">Home</a>
  <a href="/users/signup">Signup</a>
  <a href="/users/Login">Login</a>
  
</div>
<h1>Hello Friend! Please Sign In</h1><br>
<form id="login" name="login" method="POST" action="/users/login">
    <div>
        <label for="username">Username: </label>
        <input type="text" name="username" id="username"/>
    </div><br>
    <div>
        <label for="password">Password: </label>
        <input type="password" name="password" id="password"/>
    </div><br>
    <div>
        <button type="submit">Submit</button>
    </div>
</form>