<div class="toolbar" role="banner">
  <h2 class="title">The "CRUD" Site</h2>
</div><br><br><br><br>
<div class="links">
  <a href="/users/home">Home</a>
  <a href="/users/signup">Signup</a>
  <a href="/users/login">Login</a>

  
  
</div>
<br>
<h1>Welcome to CRUD! Please sign up</h1>

<form id="signup" name="signup" method="POST" id="signup" action="/users/signup">
    <div>
        <label for="name">First Name: </label>
        <input type="text" name="firstname" required>
    </div><br>
    <div>
        <label for="name">Last Name: </label>
        <input type="text" name="lastname" required>
    </div><br>
    <div>
        <label for="name">Email: </label>
        <input type="text" name="email" required>
    </div><br>
    <div>
        <label for="name">Username: </label>
        <input type="text" name="username" required>
    </div><br>
    <div>
        <label for="name">Password: </label>
        <input type="password" name="password" required>
    </div><br>
    <div>
        <button type="submit">Submit</button>
    </div>
</form>